<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourites</title>
    <link rel="stylesheet" href="/static/favourites.css">
    <script src="/static/scripts/favourites.js"></script>


</head>
<body>
    <header class="header">
        <div class="namebar">
            <a href="main.html" class="name">takee</a>

            
        </div>

        <div class="filter">
        <button class="f1" data-filter="all">
            <img src="/static/img/image 2.png" class="ff1" id="special-btn" alt="" style="width: 32px; height: 32px; margin-right: 10px;">
            <p class="pp1">Все</p>
        </button>

        <button class="f2" data-filter="animals">
            <img src="/static/img/All.png" class="ff2" alt="" style="width: 32px; height: 32px; margin-right: 10px;">
            <p class="pp2">Животные</p>
        </button>

        <button class="f3" data-filter="sports">
            <img src="/static/img/Mask group.png" class="ff3" alt="" style="width: 32px; height: 32px; margin-right: 10px;">
            <p class="pp3">Спорт</p>
        </button>

        <button class="f4" data-filter="travel">
            <img src="/static/img/tour-round.png" class="ff4" alt="" style="width: 32px; height: 32px; margin-right: 10px;">
            <p class="pp4">Туризм</p>
        </button>

        <button class="f5" data-filter="movies">
            <img src="/static/img/cinemaaa-round.png" class="ff5" alt="" style="width: 32px; height: 32px; margin-right: 10px;">
            <p class="pp5">Фильмы</p>
        </button>
    </div>
    </header>




    <div class="temki">

    </div>




    <footer class="footer">
        <a href="main.html" class="home">
            <img src="/static/img/Group 598 (1).png" alt="">
        </a>
        <a href="favourites.html" class="fav">
            <img src="/static/img/Vector (2).png" alt="">
        </a>
        <a href="/chats" class="chats">
            <img src="/static/img/Vector.png" alt="">
        </a>
        <a href="/profile" class="profile">
            <img src="/static/img/Group 599.png" alt="">
        </a>
    </footer>

</body>
</html>