<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="/static/notif.css">
</head>
<body>
    <header class="header">
        <div class="namebar">
            <a href="main.html" class="name">
                <img src="/static/img/iconBack.png" alt="" class="back">
            </a>

            <a href="notif.html" class="notif">
                <img src="/static/img/iconNotification (1).png" alt="" class="notif1" >
            </a>
        </div>
    </header>

</body>
</html>